@{
  Layout = "_Layout";
}

<h1>HairSalon</h1>
<hr />

<h1>Stylist</h1>
<h4>@Model["stylist"].GetEmployee()</h4>
<h4>@Model["stylist"].GetDetails()</h4>



<h1>Clients</h1>
@if (@Model["clients"].Count != 0)
{
  @foreach (var Client in @Model["clients"])
  {
  <ul>
    <li>Client: @Client.GetName() | <a href="/client/@Client.GetId()/update">Update</a> | <a href="/client/@Client.GetId()/delete">Delete</a><br> Notes: @Client.GetNotes()</li>
  </ul>
  }
}



<a href="/stylists">View All Stylists</a>
<br>
<a href="/stylists/@Model["stylist"].GetId()/clients/new">Add Client</a>
