@{
  Layout = "_Layout";
}

<h1>HairSalon</h1>
<hr />

<h2>Stylist</h2>
<h4>@Model["stylist"].GetEmployee()</h4>


<h2>Clients</h2>
@if (@Model["clients"].Count != 0)
{
  @foreach (var client in @Model["clients"])
  {
  <ul>
    <li>Client: @client.GetName() <br> Notes: @client.GetNotes()</li>
  </ul>
  }
}




<form action="/clients/Delete" method="post">
  <button type="submit">Delete All Clients</button>
</form>

<a href="/stylists">View All Stylists</a>
<br>
<a href="/stylists/@Model["stylist"].GetId()/clients/new">Add Client</a>
